* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

html, body {
    width: 100%;
    height: 100%;
}


#main {
    width: 100%;
    height: 100%;
    background-color: #111;
    position: relative;
}

.elem {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5vw 0;
}

.elem h1 {
    font-size: 4vw;
    z-index: 999;
    mix-blend-mode: difference;
    position: relative;
}

.elem img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: linear .3s;
}